$fullwidth: 100vw;
$landingheight: 70vh;
$white: #FFFFFF;

.landingpage {
	width: $fullwidth;
	height: $landingheight;
	margin: 0;
	padding: 0;
	background: $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
