$fullwidth: 100vw;
$propheight: 70vh;
$contentwidth: 94vw;
$buttonwidth: 3vw;

.proposition {
	display: flex;
	flex-direction: row;
	align-items: space-around;
}

.linkblock {
	width: $fullwidth;
	height: $propheight;
	display: flex;
	justify-content: space-between;
}

.proptitle {
	font-size: 3vw;
}

.content {
	width: $contentwidth;
	display: flex;
	flex-direction: column;
}

.button {
	width: $buttonwidth;
}
